#extensionPage{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    padding:1rem;
    overflow: auto;
}
@media (max-aspect-ratio:1){
    #extensionPage{
        padding:0;
    }  
}
.top{
    padding: 1rem;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    width: 100%;
    border-bottom:var(--primary2) dashed 2px;
    background-color: var(--primary3);
}
.leftItem{
    width: 10rem;
    border-radius: 5px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;
}
.leftItem > img{
    width: 100%;
}
.leftItem > div{
    background-color: var(--primary2);
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
.leftItem > div > a{
    color:var(--secondary2);
}
.rightItem{
    padding: 1rem;
    width:100%;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
}
#extensionDescription{
    height:100%;
    overflow-y: auto;
    scrollbar-gutter: overlay;
    padding:1rem;
}
.title{
    font-size: 2rem;
}
.creator{
    color:gray;
    text-decoration:underline;
}
.creator:not([href=""])::after{
    content: "🔗";
}
.creator[href=""]{
    text-decoration:none;
    pointer-events: none;
}

.search{
    flex: 1 1 auto;
    box-sizing: border-box;
    padding:1rem;
    width: 100%;
    border-bottom:var(--primary2) dashed 2px;
    background-color: var(--primary3);
}
#searchBar{
    margin-bottom: 1rem;
    transition: border 0.1s ease-in-out ;
    border:none;
    padding:0.3rem;
    border: 0px solid var(--secondary2);
    outline-width: 0px;
}

#searchBar:focus{
    border-width: 0px 0px 3px;
}
#searchResult{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*grid-auto-rows: 200px;*/
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
}
.searchItem{
    position: relative;
    display: block;
    aspect-ratio: 0.75; /* 300px width to 400px height */
    overflow: hidden;
    top:0px;
}
.searchItem > img{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;

}
.overlay{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes rotate {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.overlay > img{
    width: 50px;
    display: none;
    position: absolute;
    animation: rotate 2s infinite;
    filter: 
    drop-shadow(-1px -1px 0px #000000) 
    drop-shadow(1px -1px 0px #000000) 
    drop-shadow(1px 1px 0px #000000)
    drop-shadow(-1px 1px 0px #000000)
    invert(100%);
}
.overlay > img[style*="--visible: true;"]{
    display: unset;
}