.ScrollboxComicReader{
    height: 100%;
    overflow: auto;
    cursor:default;
}
.comicPage{
    width: 100%;
}
.imageWrapper{
    position: relative;
    display: flex;
    min-height: 20px;
}
.imageWrapper::before{
    content:" ";
    left:50%;
    top:50px;
    z-index: -1;
    position:absolute;
    border-radius: 50%;
    border:2px solid;
    border-color: var(--secondary2) transparent;
    width:50px;
    height: 50px;
    animation: loader 1s infinite linear;
}
@keyframes loader {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
.chapterTopBar{
    filter:url(#noise);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    background-color: var(--primary3);
    gap:1rem;
}
.chapterSelector{
    width: 20rem;
}
.titleText{
    font-size: 1.5rem;
    color: var(--secondary2);
    font-weight: bold;
}
.images{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:0 auto;
}