.ScrollboxComicReader{
    height: 100%;
    overflow: auto;
}
.comicPage{
    width: 100%;
}
.chapterTopBar{
    filter:url(#noise);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    background-color: var(--primary3);
    gap:1rem;
}
.chapterSelector{
    width: 20rem;
}
.titleText{
    font-size: 1.5rem;
    color: var(--secondary2);
    font-weight: bold;
}
.images{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:0 auto;
}