.banner > img{
    object-fit: cover;
    object-position: 0px 30%;
    width: 100%;
    height: 100%;
/*
    mask-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.59) 0%,
        hsla(0, 0%, 0%, 0.588) 7.3%,
        hsla(0, 0%, 0%, 0.581) 12.9%,
        hsla(0, 0%, 0%, 0.569) 16.9%,
        hsla(0, 0%, 0%, 0.552) 20%,
        hsla(0, 0%, 0%, 0.53) 22.4%,
        hsla(0, 0%, 0%, 0.503) 24.5%,
        hsla(0, 0%, 0%, 0.47) 26.9%,
        hsla(0, 0%, 0%, 0.432) 29.8%,
        hsla(0, 0%, 0%, 0.389) 33.7%,
        hsla(0, 0%, 0%, 0.339) 39%,
        hsla(0, 0%, 0%, 0.284) 46%,
        hsla(0, 0%, 0%, 0.222) 55.2%,
        hsla(0, 0%, 0%, 0.155) 67%,
        hsla(0, 0%, 0%, 0.08) 81.8%,
        hsla(0, 0%, 0%, 0) 100%
      );
*/
}
.banner{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}
.banner::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
}
#about{
    display: grid;
    background-color: var(--secondary1);
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    padding: 14px 21px;
}
#about > :nth-child(1){
    border-radius: 1px;
    margin-top: -125px;
    width: 100%;
}
.cover > img{
    width: 100%;
    box-shadow: 1px 1px 1px var(--secondary2),
    -1px -1px 0px var(--secondary2),
    1px -1px 1px var(--secondary2),
    -1px 1px 0px var(--secondary2)
    ;
    border-radius: 3px;
}
#title{
    margin-bottom: 10px;
    font-weight: 530;
}
#libraryItemPage{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.about{
    overflow: hidden;
    width: 100%;
}
#description{
    text-wrap: wrap;
    word-break:break-word;
    width: 100%;
    max-height: 16rem;
    overflow: auto;
    border-bottom: dotted var(--secondary2);
}
#description::-webkit-scrollbar{
    display: none;
}
.cover{
    text-align: center;
}
.tk{
    background-color: var(--secondary2);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 0.5rem;
}
.tks{
    justify-content: center;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
}
.chapterList{
    padding: 0.5rem;
    box-sizing: border-box;
    margin:auto;
    max-width: 800px;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--secondary1);
}
@media (max-aspect-ratio: 1){
    .chapterList{
        max-width: 100%;
    }
}
.chapter{
    user-select: none;
    width: 100%;
    display: flex;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.chapter:not(.chapterListHeader):hover{
    background-color: var(--secondary2);
    cursor:pointer;
}
.chapter.read{
    filter:brightness(0.9);
    backdrop-filter: brightness(0.9);
}
.downloadBTN{
    display: flex;
    height: 1.5rem;
}
.downloadBTN > *{
    font-size: 0.75rem;
    text-align: center;
    height: 100%;
    background-color: rgba(0,0,0,0);
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px white;
    border-radius: 2px;
    margin: auto;
}
.loading{
    text-align: center;
    position:relative;
    vertical-align: center;
}
.loading > div:not(.variableSize){
    z-index: 1;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.variableSize{
    width: var(--var);
    height: 100%;
    z-index: 0;
    display: flex;
    position: absolute;
    background-color: var(--secondary2);
}
.chapter:hover > .downloadBTN >.loading > .variableSize{
    background-color:var(--secondary1);
}
.downloadBTN > input:active{
    background-color: white;
    color:var(--secondary1);
}
.chapter > *{
    width: 5rem;
}
.chapter > .name{
    flex-grow:1;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;

}
.chapterListHeader{
   font-weight: bold;
   margin-bottom: 5px;
   border-bottom: 1px solid var(--secondary2);
}
.mutliChapters > .content{
    overflow: hidden;
    transition: height 0.1s;
    height: 20rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2rem;
}
.mutliChapters > .content > select{
    background-color: var(--secondary1);
    width:100%;
}

.mutliChapters > .content > select::-webkit-scrollbar{
    background-color: transparent;
    width: 0.5rem;
}
.mutliChapters > .content > select::-webkit-scrollbar-thumb{
    background-color: var(--secondary2);
    width: 0.05rem;
}
.mutliChapters:has(input[type = checkbox]:not(:checked)) > .content{
    height:0rem;
}
.ChapterControlButtons{
    width: 100%;
    display: flex;
}
.ChapterControlButtons > input:not(:first-child){
    border:none;
    border-radius: 0px;
    border-left: 2px solid var(--secondary2);
}
.ChapterControlButtons > input{
    border:none;
    border-radius: 0px;
    background-color: var(--secondary1);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}
.mutliChapters{
    background-color: var(--secondary1);
    border-top:1px solid var(--secondary2);
}
.mutliChapters > label{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,0,0.1);
}
