#library{
    display:flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    overflow:hidden;
}
#topbar{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 5px;
    gap:5px;
    overflow-x: scroll;
    align-items: center;
    scrollbar-width: none;
    
}
.category{
    background-color: red;
    padding:12px 10px;
    border:none;
    background-color: transparent;
}
.category:hover{
    background-color:rgba(255,255,255,0.2);
}
#addCategory{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}
#addCategory:hover{
    background-color:rgba(255,255,255,0.2);
    border-radius: 2px;
    border: none
}
#libraryItemHolder{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*grid-auto-rows: 400px;*/
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.libraryItem{
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 0.75; /* 300px width to 400px height */
}
.libraryItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tokens{
    position:relative;
    height: 0px;
    top:4.5px;
    float:right;
}
.tokens > span{
    background-color: red;
    padding: 2px 8px;
    border-radius: 6px;
    margin-right: 5px;
}