#sideNav{
    background-color:rgb(39, 38, 38);
    width: 40px;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.sideNavItem{
    margin-bottom: 10px;
}
.sideNavItem > div{
    width: 40px;
    height: 40px;
    mask-size: 40px;
    mask-repeat: no-repeat;
    background-color: rgb(255,255,255,0.7);
}
.selected > div{
    background-color: purple;
}