#sideNav{
    background-color:var(--primary2);
    filter:url(#noise);
    overflow: hidden;

    width: 40px;
    padding:10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
@media (max-aspect-ratio: 1) {
    #sideNav{
        background-color:var(--primary2);
        box-sizing: border-box;
        display: flex;
        height: 60px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}
.sideNavItem > div{
    width: 40px;
    height: 40px;
    mask-size: 40px;
    mask-repeat: no-repeat;
    background-color: rgb(255,255,255,0.7);
}
.selected > div{
    background-color: var(--secondary2);
}